<div class="scheduler">
  <form class="filter" [formGroup]="form">
    <div class="filter-data">
      <div class="filter-data-inputs">
        <mat-form-field>
          <mat-select
            placeholder="Account From:"
            name="item"
            formControlName="accountFrom"
            (selectionChange)="filterAccounts()"
          >
            <mat-option>Clear Selected Account From</mat-option>
            <mat-option
              *ngFor="let accountFrom of userAccounts"
              [value]="accountFrom.accountNumber"
            >
              {{ accountFrom.accountNumber }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select
            placeholder="Account To:"
            name="item"
            formControlName="accountTo"
            [disabled]="!hasAccountFrom()"
            (selectionChange)="onEdited()"
          >
            <mat-option>Clear Selected Account To</mat-option>
            <mat-option
              *ngFor="let accountTo of filteredAccounts"
              [value]="accountTo.accountNumber"
            >
              {{ accountTo.accountNumber }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="filter-data-inputs-text">
          <mat-form-field>
            <span matPrefix>$&nbsp;</span>
            <input
              matInput
              placeholder="Value"
              type="number"
              formControlName="value"
              step="0.01"
              min="0.01"
              (blur)="maskValue()"
              (focus)="onEdited()"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Schedule Date:"
              type="datetime-local"
              [min]="TODAY"
              formControlName="dateScheduled"
              (input)="onEdited()"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="filter-data-buttons">
        <button
          class="button button-small"
          (click)="simulate()"
          [disabled]="hasErrors()"
        >
          SIMULATE
        </button>
        <button
          class="button button-small"
          (click)="schedule()"
          [disabled]="!canSchedule()"
        >
          SCHEDULE
        </button>
      </div>
    </div>

    <div class="filter-simulation">
      <div class="filter-simulation-table">
        <span class="filter-simulation-table-header"
          >Transaction Simulation</span
        >
        <form class="filter-simulation-table-value" [formGroup]="formSim">
          <mat-form-field>
            <input matInput placeholder="Type" formControlName="type" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Rate" formControlName="fee_rate" />
            <span matSuffix>&nbsp;%</span>
          </mat-form-field>
          <mat-form-field>
            <span matPrefix>$&nbsp;</span>
            <input matInput placeholder="Fee" formControlName="fee_value" />
          </mat-form-field>
          <mat-form-field>
            <span matPrefix>$&nbsp;</span>
            <input
              matInput
              placeholder="Tax Total"
              formControlName="fee_total"
            />
          </mat-form-field>
          <mat-form-field>
            <span matPrefix>$&nbsp;</span>
            <input matInput placeholder="Subtotal" formControlName="subtotal" />
          </mat-form-field>
        </form>
      </div>
    </div>
  </form>

  <div class="table">
    <table
      *ngIf="transactions?.length > 0"
      mat-table
      #table
      [dataSource]="transactions"
    >
      <ng-container matColumnDef="accountFrom">
        <th mat-header-cell *matHeaderCellDef>Account From</th>
        <td mat-cell *matCellDef="let row">{{ row.accountFrom }}</td>
      </ng-container>
      <ng-container matColumnDef="accountTo">
        <th mat-header-cell *matHeaderCellDef>Account To</th>
        <td mat-cell *matCellDef="let row">{{ row.accountTo }}</td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Total Value</th>
        <td mat-cell *matCellDef="let row">{{ "$ " + row.value }}</td>
      </ng-container>
      <ng-container matColumnDef="fee_value">
        <th mat-header-cell *matHeaderCellDef>Tax Total</th>
        <td mat-cell *matCellDef="let row">{{ "$ " + row.fee_value }}</td>
      </ng-container>
      <ng-container matColumnDef="dateScheduled">
        <th mat-header-cell *matHeaderCellDef>Transaction Date</th>
        <td mat-cell *matCellDef="let row">
          {{ row.dateScheduled | date: "dd/MMM/yyyy HH:mm:ss z" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="executed">
        <th mat-header-cell *matHeaderCellDef>Executed</th>
        <td mat-cell *matCellDef="let row">{{ row.executed }}</td>
      </ng-container>
      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef>Created at</th>
        <td mat-cell *matCellDef="let row">
          {{ row.dateCreated | date: "dd/MMM/yyyy HH:mm:ss z" }}
        </td>
      </ng-container>
      <tr
        mat-header-row
        *matHeaderRowDef="[
          'accountFrom',
          'accountTo',
          'value',
          'fee_value',
          'dateScheduled',
          'executed',
          'dateCreated'
        ]"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          columns: [
            'accountFrom',
            'accountTo',
            'value',
            'fee_value',
            'dateScheduled',
            'executed',
            'dateCreated'
          ]
        "
      ></tr>
    </table>

    <h4 *ngIf="!(transactions.length > 0)">
      User has no Transactions registered yet
    </h4>
  </div>
</div>
