@import '../styles.scss';

.header {
  display: grid;
  justify-content: stretch;
  align-content: stretch;
  background-color: $color-background-header;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
  "user title .";
  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "user title";
  }
  grid-area: header;
}

.title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 767px) {
    justify-content: flex-start;
  }
}

.user {
  grid-area: user;
  display: flex;
  justify-content: center;
  align-items: center;
  &-button-logout {
    margin-bottom: 0;
  }
}

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5px 1fr;
  grid-template-areas: "router"
  "page";
  justify-content: stretch;
  align-content: stretch;
}

.router {
  grid-area: router;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lighten($color-primary, 3);
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 768px) {
    grid-template-columns: 0fr 4fr 0fr;
  }
  grid-template-rows: 75px minmax(calc(100vh - 75px - 50px), auto) 50px;
  grid-template-areas:
  "header header header"
  ". content ."
  "footer footer footer";

  justify-content: stretch;
  align-content: stretch;
  grid-area: container;

  background-color: $color-primary;
}

